body{
	margin:.5%;
}
header{
	background:#3b5378;
	color:white;
	padding:15px 15px 0 15px;
}
header h1{
	font-size:48px;
	margin:0;
	display:inline;
}
nav ul{
	margin:0;
	padding:0 0 0 15px;
	display:inline;
}
nav ul li{
	font-size:20px;
	color:white;
	display:inline-block;
	list-style-type:none;
	padding:5px 15px;
}
nav ul li a{
	color:white;
}

.row{
	margin:.5%;
	width:100%;
}

.foot{
	margin:1%;
	clear:both;
}

/* Slideshow container */
.slideshow-container {
  margin: 0 auto;
}
.column {
    width:30%;
    float:left;
}
.column2 {
    width:40%;
    float:left;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 24.8%;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}